appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.2.0
autobahn==18.11.1
Automat==0.7.0
https://www-us.apache.org/dist/avro/avro-1.8.2/py3/avro-python3-1.8.2.tar.gz
cached-property==1.5.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
confluent-kafka==0.11.6
constantly==15.1.0
cryptography==2.4.1
defusedxml==0.5.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
isodate==0.6.0
lxml==4.2.5
numpy==1.15.4
pandas==0.23.4
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
Twisted==18.9.0
txaio==18.8.1
untangle==1.1.1
urllib3==1.24.1
zeep==3.1.0
zope.interface==4.6.0
